# Environments
.venv/
.venv_311/
venv/
env/

# Python / Build
__pycache__/
*.py[cod]
*$py.class
*.egg-info/
build/
dist/

# Project Specific
data/processed/*
!data/processed/.gitkeep
outputs/
multirun/
wandb/

# Secret & config files
.env
.DS_Store
Thumbs.db
.vscode/